.card{style: "width: 18rem;"}
  .card-body
    %h5.card-title
      = task.predmet
    %p.card-text
      = task.popis
    %strong Kód projektu:
    %p.card-text
      = task.projekt_id
    %strong Kód uživatele:
    %p.card-text
      = task.user_id
