<h1>Projekty</h1>

<div id="projekts" class"table" >
  <% @projekts.each do |projekt| %>
    <%= render projekt %>
    <!--   <h2> úkoly projektu <h2> -->

    <div id="tasks">
<% @tasks.each do |task| %>
<% if projekt.id == task.projekt_id %>

  <%= render task%>

<% end %>
<% end %>
     </div>
 <p>
      <%= link_to "Ukázat projekt", projekt, class:"btn btn-outline-info" %>
    </p>

     <br> <br>
<%end%>
</div>

<%= link_to "Nový projekt", new_projekt_path, class:"btn btn-outline-info" %>
